# SMART TWEET

In [11]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [21]:
import searchtweet
import database as db
import azureanalysis as az

## Récuperation des tweets

In [13]:
# Choix du hashtag (à saisir sans le #)
hashtag = input('Saisir le hashtag souhaité (sans le #) :')
print(f'Lancement des traitements pour le hashtag #{hashtag}...\n')

df_tweets = searchtweet.tweet_search(hashtag)

Lancement des traitements pour le hashtag #warcraft...

Connexion to Twitter API...
OK - Connected.
Searching tweets with hashtag "#warcraft"...
OK - 2000 tweets found with the hashtag "#warcraft".

## Algorithme Azure

In [14]:
# Authentification Azure
client = az.authenticate_client()

# Analyse sentiments
df_final = az.sentiment_analysis(client, df_tweets)

Azure authentification successful.
0 tweets analysed.
500 tweets analysed.
1000 tweets analysed.
1500 tweets analysed.
Analysis ending.

In [43]:
df_final = df_final.reindex(columns=['created_at','lang','text','result','confidence'])
df_final.shape

(2000, 5)

## Insertion base de données

In [44]:
if input (f'Do you want to save the final dataframe for #{hashtag}? (y/n)') == "y" :
    print ('Backup in progress...\n')
    
    nb = db.insert(df_final, hashtag)

    print(f'OK - Database is updated - {nb} tweets added.')

else :
    print ('No backup.')

Backup in progress...

Database connexion...
OK - Connected to Database.

Formating datas...
OK.

Insert hashtag in database...
OK.

Insert tweets in database...
OK.

OK - Database is updated - 2000 tweets added.

## Stats

In [48]:
df_day = db.feeling_by_day(hashtag)
df_feeling = db.feeling(hashtag)

Database connexion...
OK - Connected to Database.
Database connexion...
OK - Connected to Database.

In [52]:
df_day.head(20)

     hashtag        date   feeling  nb_tweets
0   warcraft  2020-09-13     mixed          6
1   warcraft  2020-09-13  negative         34
2   warcraft  2020-09-13   neutral         99
3   warcraft  2020-09-13  positive         81
4   warcraft  2020-09-14     mixed        206
5   warcraft  2020-09-14  negative        227
6   warcraft  2020-09-14   neutral        517
7   warcraft  2020-09-14  positive        406
8   warcraft  2020-09-15     mixed         50
9   warcraft  2020-09-15  negative         55
10  warcraft  2020-09-15   neutral        186
11  warcraft  2020-09-15  positive        133

In [50]:
df_feeling.head()

    hashtag   feeling  nb_tweets
0  warcraft     mixed        262
1  warcraft  negative        316
2  warcraft   neutral        802
3  warcraft  positive        620